<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aws.sync.mapper.AveSyncMapper">
    <select id="selectAveSync" resultType="com.aws.sync.vo.AveSyncVO">
        select time_ms,ave from ave_sync where meeting_id = #{param1} order by time_ms
    </select>


</mapper>