<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aws.sync.mapper.EmojiMapper">
    <insert id="addEmojiOneByOne">
        insert into emoji_table (meeting_id, users, emoji, time_ms)
        values(#{meeting_id}, #{users},#{emoji},#{time_ms})
    </insert>

</mapper>