<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aws.sync.mapper.NlpMapper">
    <insert id="addBatch" parameterType="com.aws.sync.entity.NlpTable">
        insert into nlp_table (meeting_id, speaker,starts,ends,sentence,emotion,dialogue)
        values
        <foreach collection="NlpTable" item="n" separator=",">
            (#{n.meeting_id}, #{n.speaker},#{n.starts},#{n.ends},#{n.sentence},#{n.emotion},#{n.dialogue})
        </foreach>
    </insert>

    <select id="findNlp" parameterType="java.lang.Long" resultType="com.aws.sync.vo.NlpVO">
        select speaker,starts,ends,sentence,emotion,dialogue from nlp_table where meeting_id = #{param1}
    </select>



</mapper>