<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aws.sync.mapper.VSyncMapper">
    <insert id="addBatch" parameterType="com.aws.sync.entity.Vsync">
        insert into v_sync_table (meeting_id, start_time,v_sync)
        values
        <foreach collection="Vsync" item="v" separator=",">
            (#{v.meeting_id}, #{v.start_time},#{v.v_sync})
        </foreach>
    </insert>

    <select id="findSync" parameterType="java.lang.Long" resultType="com.aws.sync.vo.csv.SyncV">
        select start_time,v_sync from v_sync_table where meeting_id = #{param1} order by start_time ASC
    </select>
</mapper>